Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
Content/ThirdPerson
Content/ThirdPersonBP
Content/Mannequin
Content/AnimStarterPack
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Mannequin/
Content/TopDownCPP/

Content/Deadly_Traps/
