Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
Content/ThirdPerson
Content/ThirdPersonBP
Content/Mannequin
Content/AnimStarterPack
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Mannequin/
Source/VR_Adventure_Puzzle/TP_ThirdPerson/TP_ThirdPersonCharacter.cpp
Source/VR_Adventure_Puzzle/TP_TopDown/TP_TopDownCharacter.cpp
